<h1 class="text-center">About The BeyHive<small>
  <br>
  The Beyhive is the only place for users to post all things related
  <strong>exclusively</strong> to Beyonce. You can post your favorite videos,
  images, and text posts for the world to see. It's time to get in
  formation and share your love for Beyonce!
</small></p>
<img class="col-xs-12 img-responsive center-block" src="https://i.imgur.com/dHCA7MW.jpg">
