<h1 class="text-center">About The BeyHive<small>
  <br>
  The Beyhive is the only place for users to post all things related to
  Beyonce. You can post your favorite videos, images, and text posts for
  world to see. Share your love for Beyonce with the world!
</small></p>
<img class="col-xs-12 img-responsive center-block" src="https://i.imgur.com/JSISS3R.jpg">
