<div class="container-fluid">
  <h1 class="text-center home_header">The BeyHive</h1>
  <div class="row">
    <!-- <div class="col-xs-12 img-responsive center-block img-circle">
      <%#= link_to posts_path(video: true) do %>
      <%#= image_tag "https://i.imgur.com/hT9gvh5.jpg" %>
      <#% end %>
    </div> -->
    <div class="col-xs-12 center-block">
      <div class="hovereffect">
        <img id="home_page_imgs" class="img-responsive" src="https://i.imgur.com/sDqVq8B.jpg" alt="">
        <div class="overlay">
           <h2>Videos</h2>
           <a class="info" <%= link_to "Videos", posts_path(video: true)%><% link_to  posts_path(video: true) %></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 center-block">
      <div class="hovereffect">
        <img class="img-responsive" src="https://i.imgur.com/nA9Hx5a.jpg" alt="">
        <div class="overlay">
           <h2>Photos</h2>
           <a class="info" <%= link_to "Photos", posts_path(photo: true)%><% link_to  posts_path(photo: true)%></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 center-block">
      <div class="hovereffect">
        <img class="img-responsive" src="https://i.imgur.com/fkbfcX4.jpg" alt="">
        <div class="overlay">
           <h2>Text</h2>
           <a class="info" <% link_to posts_path(text_posts: true)%><%= link_to "Text", posts_path(text_posts: true)%></a>
        </div>
      </div>
    </div>
     <div class="col-xs-12 center-block">
      <div class="hovereffect">
        <img class="img-responsive" src="https://i.imgur.com/DDIQTVR.jpg" alt="">
        <div class="overlay">
           <h2>About</h2>
           <a class="info" <%link_to "About", about_path %><%=link_to "About", about_path %></a>
        </div>
      </div>
    </div>
