<div class="container">
  <h1 class="text-center">The BeyHive</h1>
    <div class="row">
      <div class="col-xs-12" class="about_img" class="img-responsive" class="center-block"id="home_page_imgs">
      <div class="about_box">About <!--link_to will go here -->
        </div>
      </div>
      <div class="col-xs-12" class="video_img" class="img-responsive" class="center-block" id="home_page_imgs">
        <div class="video_box">Video <!--link_to will go here --></div>
      </div>
      <div class="col-xs-12" class="images_img" class="img-responsive" class="center-block" id="home_page_imgs">
        <div class="Images_box">Images <!--link_to will go here --></div>
      </div>
      <div class="col-xs-12" class="text_img" class="img-responsive" class="center-block" id="home_page_imgs">
        <div class="text_box">Text <!--link_to will go here --></div>
      </div>



</div>
