<div class="add_comment">
  <h4>Add a comment!</h4>

  <%= form_for [@comment.post, @comment] do |f| %>
    <textarea class="form-control" rows="3"><%= f.text_field :text %></textarea>
    <button type="submit" class="btn btn-primary"><%= f.submit "Submit comment!" %></button>
  <% end %>
</div>

