<div class="row text-center" class="container">
  <h1 class="text-center">All Posts Page</h1>
    <div class="post_container">

    <% @posts.order("created_at desc").each do |post| %>
      <%= post.title %>
    <% end %>
  </div>
</div>

