
img {
  opacity: 0.4;
  filter: alpha(opacity=40);
}
#login_bey {
  background-image: cover;
}
#sign_up_container {
  border: 2px solid;
  position: relative;
  bottom:60rem;
}
#login_container {
  border: 2px solid;
  position: relative;
  bottom: 45rem;
}
#container {

}
#login_signup_links {

}
