@font-face {
  font-family:'steelfish_rg.ttf';
  src: font-url('steelfish_rg.ttf');
  src: font-url('steelfish_rg.ttf') format('truetype');
}
#container {
  width: 500px;
  height: 500px;
}
body {
  background-color: #D7F1F7;
  color: #262A2B;
}
h1 {
  font-family: 'steelfish_rg.tff', Helvetica;
  font-spacing: .3rem;
  font-size: 5rem;
}
#home_page_imgs {
  opacity: 0.4;
  filter: alpha(opacity=40);
}

.add_comment {
  max-width: 500px;
}
#about_img {
  opacity: 0.4;
  filter: alpha(opacity=40);
  background-image: cover;
}
.container {
  height: 700px;
  max-height: 100%;
}
.post {
  display: inline-block;
}

#login_bey {
  background-image: cover;
  opacity: 0.4;
  filter: alpha(opacity=40);
}

#login_container {
  position: relative;
  height: 90vh;
  padding-top: 26vh;
  padding-left: 25vh;
  background-image: url("https://i.imgur.com/dRB95G5.jpg") rgba(255,255,255,0.4);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
#text_box {
  height: 28rem;
  width: 35rem;
}
#sign_up_container {
  position: relative;
  height: 95vh;
  background-image: url("https://i.imgur.com/6xAzS8I.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sign_up{
  padding-top: 10vh;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#home_page_imgs {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  max-height: 300px;
  position: relative;
  right: 45px;
}
